*{box-sizing:border-box;}
ul{padding:0 }
ul li{list-style: none;}
img{max-width: 100%;height:auto;outline: none;}
a{text-decoration: none;}
body{margin: 0px;}
:focus{outline: none !important;}

 .patient-stories-background{background: #e8f6ff;
 width: 100%;
    display: inline-block;}
.patient-stories p{color: #b8b8b8;
    text-align: center;
    font-size: 14px;
margin: 63px 0 10px 0;}
.patient-stories h1{text-align: center;
    font-size: 23px;
    font-weight: 600;
letter-spacing: 1px;}
.patient-stories-body-content{border-top: 3px solid #c2c2c2;
    margin-top: 22px;
cursor: pointer;}
/*.patient-stories-body-content:hover{border-top: 3px solid #007bff;
cursor: pointer;}*/
.active{border-top:3px solid #007bff;}
.patient-stories-body-content p{color: #b4b4b4;
    margin-top: 21px;
    font-size: 16px;}

.patient-history{width: 100%;
display: inline-block;
padding-top: 6px;}
.patient-image{width: 22%;
    display: inline-block;
    float: left;}
.patient-image img{width: 50px;
    height: 50px;
    border-radius: 50%;}
.patient-name{width: auto;
    display: inline-block;}
.patient-name span{color: #222;
    font-size: 15px;
    font-weight: 500;}
    .patient-name span:hover{color:#007bff;
    	cursor: pointer;}
.patient-name p{color: #b4b4b4;
    font-size: 15px;}

.button-view-all{margin: 30px auto;
    display: block;
    text-align: center;}
.button-view-all a{min-width: 160px;
    border: 2px solid #007bff;
    display: inline-block;
    text-align: center;
    color: var(--terthemecolor);
    font-size: 15px;
    padding: 7px;
    font-weight: 500;
    border-radius: 4px;}
.button-view-all a:hover{background-color: #007bff;
border-color: #007bff;
color: #fff;
text-decoration: none;}

.prev, .next{
        cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
     }
        .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}





























